<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Keyword.mappers.review.ReviewMapper">
    <select id="list" resultMap="ReviewResultMap">
        SELECT
            review_no
            , content_id
            , review_text
            , review_writer
            , reg_date
            , update_date
        FROM disney_review
        WHERE content_id = #{contentId}
        ORDER BY review_no
    </select>

    <insert id="create">
        INSERT INTO disney_review (
            content_id
            , review_text
            , review_writer
        ) VALUES (
            #{contentId}
            , #{reviewText}
            , #{reviewWriter}
        )
    </insert>

    <update id="update">
        UPDATE disney_review
        SET
            review_text = #{reviewText}
            , update_date = NOW()
        WHERE review_no = #{reviewNo}
    </update>

    <delete id="delete">
        DELETE FROM disney_review
        WHERE review_no = #{reviewNo}
    </delete>

    <!-- [11-3] 댓글 페이징 -->
    <!--
    <select id="listPaging" resultMap="reviewResultMap">
        SELECT
            review_no
            , article_no
            , review_text
            , review_writer
            , reg_date
            , update_date
            , user_img
        FROM disney_review
        INNER JOIN tbl_user ON user_id = review_writer
        WHERE article_no = #{articleNo}
        ORDER BY review_no DESC
        LIMIT #{criteria.pageStart}, #{criteria.perPageNum}
    </select>

    <select id="countReplies" resultType="int">
        SELECT COUNT(article_no)
        FROM disney_review
        WHERE article_no = #{articleNo}
    </select>

    <select id="getArticleNo" resultType="int">
        SELECT article_no
        FROM disney_review
        WHERE review_no = #{reviewNo}
    </select>
    -->
    <resultMap id="ReviewResultMap" type="ReviewVO">
        <id property="reviewNo" column="review_no"/>
        <result property="contentId" column="content_id"/>
        <result property="reviewText" column="review_text"/>
        <result property="reviewWriter" column="review_writer"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <!--association property="userVO" resultMap="userVOResultMap"/-->    <!-- [16-4.5] -->
    </resultMap>

    <!-- TODO: 컨텐츠 테이블에 리뷰 갯수 포함 후
    <resultMap id="ContentResultMap" type="ContentVO">
        <id property="contentId" column="imdb_id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="rated" column="rated"/>
        <result property="year" column="year"/>
        <result property="releasedAt" column="released_at"/>
        <result property="runtime" column="runtime"/>
        <result property="director" column="director"/>
        <result property="actor" column="actor"/>
        <result property="awardWin" column="award_win"/>
        <result property="awardNominate" column="award_nominate"/>
        <result property="awardMajor" column="award_major"/>
        <result property="awardMajorType" column="award_major_type"/>
        <result property="imdbRating" column="imdb_rating"/>
        <result property="rating" column="rating"/>
    </resultMap>
    -->
    <!-- [16-4.5] 게시글 작성자의 프로필 이미지 수정 -->
    <!--
    <resultMap id="userVOResultMap" type="UserVO">
        <id property="userId" column="user_id"/>
        <result property="userPw" column="user_pw" />
        <result property="userName" column="user_name" />
        <result property="userEmail" column="user_email" />
        <result property="userJoinDate" column="user_join_date" />
        <result property="userSignature" column="user_signature" />
        <result property="userImg" column="user_img" />
        <result property="userPoint" column="user_point" />
    </resultMap>
    -->
</mapper>