<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Keyword.mappers.review.ReviewMapper">
    <select id="list" resultMap="ReviewResultMap">
        SELECT
            review_no
            , content_id
            , review_text
            , review_writer
            , reg_date
            , update_date
            , rating
        FROM disney_review
        WHERE content_id = #{contentId}
            and review_writer NOT IN(#{userName})
        ORDER BY review_no DESC
    </select>

    <insert id="create">
        INSERT INTO disney_review (
            content_id
            , review_text
            , review_writer
            , rating
        ) VALUES (
            #{contentId}
            , #{reviewText}
            , #{reviewWriter}
            , #{reviewRating}
        )
    </insert>

    <update id="update">
        UPDATE disney_review
        SET
            review_text = #{reviewText}
            , update_date = NOW()
            , rating = #{reviewRating}
        WHERE review_no = #{reviewNo}
    </update>

    <delete id="delete">
        DELETE FROM disney_review
        WHERE review_no = #{reviewNo}
    </delete>

    <select id="getContentId" resultType="string">
        SELECT content_id
        FROM disney_review
        WHERE review_no = #{reviewNo}
    </select>

    <select id="getMyReview" resultMap="ReviewResultMap">
        SELECT review_no
            , content_id
            , review_text
            , review_writer
            , reg_date
            , update_date
            , rating
        FROM disney_review
        WHERE content_id = #{contentId}
             and review_writer = #{userName}
    </select>

    <!-- 페이징 -->
    <select id="listPaging" resultMap="ReviewResultMap">
        SELECT
            review_no
            , content_id
            , review_text
            , review_writer
            , reg_date
            , update_date
            , rating
            , user_img
        FROM disney_review
        INNER JOIN user ON user_name = review_writer
        WHERE content_id = #{contentId}
        ORDER BY review_no DESC
        LIMIT #{criteria.pageStart}, #{criteria.perPageNum}
    </select>

    <select id="countReviews" resultType="int">
        SELECT COUNT(content_id)
        FROM disney_review
        WHERE content_id = #{contentId}
    </select>


    <resultMap id="ReviewResultMap" type="ReviewVO">
        <id property="reviewNo" column="review_no"/>
        <result property="contentId" column="content_id"/>
        <result property="reviewText" column="review_text"/>
        <result property="reviewWriter" column="review_writer"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="reviewRating" column="rating"/>
        <!--association property="userVO" resultMap="userVOResultMap"/-->    <!-- [16-4.5] -->
    </resultMap>

    <!-- [16-4.5] 게시글 작성자의 프로필 이미지 수정 -->
    <!--
    <resultMap id="userVOResultMap" type="UserVO">
        <id property="userId" column="user_id"/>
        <result property="userPw" column="user_pw" />
        <result property="userName" column="user_name" />
        <result property="userEmail" column="user_email" />
        <result property="userJoinDate" column="user_join_date" />
        <result property="userSignature" column="user_signature" />
        <result property="userImg" column="user_img" />
        <result property="userPoint" column="user_point" />
    </resultMap>
    -->
</mapper>